body{
    background: url('../img/white.gif') no-repeat center center fixed;
    background-size: cover;
}

footer{
    background-color: #263238;
    color:#eceff1;
}

footer p {
    color:#eceff1;
}

.divArticle{
    column-count:2;   
}

.commentsSection{
    color:black;
    font-family: Helvetica;
    font-size: 1.875em;
}

.card{
    border: 3px solid;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: grey;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color:dimgray;
    background-color: transparent;
    text-decoration: underline;
  }
  

